// Place all the styles related to the Przedmiots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.instrument-show {
    .feature-image img {
      width: 100%;
    }
    .add-to-cart {
      width: 100%;
    }
  }